Flask
Flask-JWT-Extended
Flask-SocketIO
Flask-Mail
Flask-Cors
python-dotenv
bcrypt
fdb
validate-docbr
flask-swagger-ui
PyYAML
requests
python-dateutil
Pillow
flask_compress
fpdf2
pywin32; platform_system == "Windows"
python-socketio
pandas>=2.1.0
numpy>=1.26.0